.heading{
    font-size:20px;
    box-shadow: 5px 5px 5px red;
    width:100%;
    margin: 0px;
}
.heading_div{
    float: none;
    background: black;
    padding:10px;
    border-radius: 10px;
    border-color:black;
    border-width:10px;
    box-shadow: 10px 10px 10px black;
}
.heading_div2{
    font-size: 30px;
}